<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 
        {%block title %} Flask platzi | {% endblock %}  
    </title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
    <link rel="javascript" href="{{ url_for ('static', filename='css/bootstrap.js')}}">
    <link rel="javascript" href="{{ url_for ('static', filename='css/jquery.s')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css')}}">
</head>
<body>
    <header>
        {%include 'navbar.html' %}
    </header>
    {%block content %}
    {%endblock %}

</body>
</html>