{% extends 'layout.html' %}

{% block body %}


<div class="row">
    <div class="col-md5">

    {% with messages = get_flashed_messages ()  %}
    {% if messages%}
    {%for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

        <div class="card card-body">
            <form action="/add_cliente", method="POST">
                <div class="form-group">
                    <input type="text" name="CLIENTE_ID" placeholder="CLIENTE_ID" class="form-control">
                    <input type="text" name="NOMBRE" placeholder="NOMBRE" class="form-control">
                    <input type="text" name="APELLIDO_PAT" placeholder="APELLIDO_PAT paterno" class="form-control">
                    <input type="text" name="APELLIDO_MAT" placeholder="APELLIDO_MAT" class="form-control">
                    <input type="text" name="CORREO" placeholder="CORREO" class="form-control">
                    <input type="text" name="DIRECCION_ID" placeholder="DIRECCION_ID" class="form-control">
                    <input type="text" name="ESCOLARIDAD_ID" placeholder="ESCOLARIDAD_ID" class="form-control">
                    <input type="text" name="CREDENCIAL_ID" placeholder="CREDENCIAL_ID" class="form-control">
                    <button type="submit" class="btn btn-primary btn-block">
                        save
                    </button>
                
                </div>
            </form> 
        </div>
    </div>
    <div class="col-md7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td> CLIENTE_ID  </td>
                    <td> Nombre </td>
                    <td> Apellido Paterno </td>
                    <td> Apellido Materno </td>
                    <td> correo </td>
                    <td> Direccion </td>
                    <td> Escolaridad </td>
                    <td> Credencial </td>
                </tr>
            </thead>
            <tbody>
                {% for Cliente in Clientes %}
                    <tr>
                        <td>{{ Cliente.0}} </td>
                        <td>{{ Cliente.1}} </td>
                        <td>{{ Cliente.2}} </td>
                        <td>{{ Cliente.3}} </td>
                        <td>{{ Cliente.4}} </td>
                        <td>{{ Cliente.5}} </td>
                        <td>{{ Cliente.6}} </td>
                        <td>{{ Cliente.7}} </td>
                        <td>
                            <a href = "/editCliente/{{ Cliente.0}}" class="btn btn-secondary">Edit</a>
                            <a href = "/deleteCliente/{{Cliente.0}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
    
{% endblock %}