{% extends 'layout.html' %}

{% block body %}


<div class="row">
    <div class="col-md5">

    {% with messages = get_flashed_messages ()  %}
    {% if messages%}
    {%for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

        <div class="card card-body">
            <form action="/add_credencial", method="POST">
                <div class="form-group">
                    <input type="text" name="CREDENCIAL_ID" placeholder="CREDENCIAL_ID" class="form-control">
                    <input type="text" name="FECHA_RENOVACION" placeholder="FECHA_RENOVACION" class="form-control">
                    <button type="submit" class="btn btn-primary btn-block">
                        save
                    </button>
                
                </div>
            </form> 
        </div>
    </div>
    <div class="col-md7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td> CREDENCIAL_ID  </td>
                    <td> FECHA_RENOVACION </td>
                </tr>
            </thead>
            <tbody>
                {% for Credencial in Credenciales %}
                    <tr>
                        <td>{{ Credencial.0}} </td>
                        <td>{{ Credencial.1}} </td>
                        <td>
                            <a href = "/editCredencial/{{ Credencial.0}}" class="btn btn-secondary">Edit</a>
                            <a href = "/deleteCredencial/{{Credencial.0}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
    
{% endblock %}