{% extends 'layout.html' %}

{% block body %}

<div class="col-md-7 offset-md-3">
    <div class="card card-body">
        <form action="/updateCredencial/{{credencial.0}}"  method="POST">
            <div class="form-group">
            <input type="text" name="CREDENCIAL_ID" placeholder="CREDENCIAL_ID" value="{{ credencial.0}}" class="form-control">
            <input type="text" name="FECHA_RENOVACION" placeholder="FECHA_RENOVACION" value="{{ credencial.1}}" class="form-control">
            <button type="submit" class="btn btn-success btn-block">
                save
            </button>
            </div>
        </form>
    </div>
    
</div>

{% endblock %}